Package: com.trentrand.sleeptimer
Name: Sleep Timer
Depends: mobilesubstrate, com.nito.tvcontrolcenter (>=1.1), firmware (>= 13.0)
Version: 0.0.1
Architecture: appletvos-arm64
Description: Automatically turn off the TV after a set period of time. 
Maintainer: Trent Rand
Author: Trent Rand
Section: Tweaks
